absl-py==2.1.0 ; python_version >= "3.11" and python_version < "3.13"
array-record==0.5.1 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
astunparse==1.6.3 ; python_version >= "3.11" and python_version < "3.13"
cachetools==5.5.0 ; python_version >= "3.11" and python_version < "3.13"
certifi==2024.7.4 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "3.13"
dm-tree==0.1.8 ; python_version >= "3.11" and python_version < "3.13"
docstring-parser==0.16 ; python_version >= "3.11" and python_version < "3.13"
etils[enp,epath,epy,etree]==1.9.2 ; python_version >= "3.11" and python_version < "3.13"
etils[epath]==1.9.2 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Linux"
flatbuffers==24.3.25 ; python_version >= "3.11" and python_version < "3.13"
fsspec==2024.6.0 ; python_version >= "3.11" and python_version < "3.13"
gast==0.5.4 ; python_version >= "3.11" and python_version < "3.13"
google-api-core==2.19.2 ; python_version >= "3.11" and python_version < "3.13"
google-api-core[grpc]==2.19.2 ; python_version >= "3.11" and python_version < "3.13"
google-auth==2.34.0 ; python_version >= "3.11" and python_version < "3.13"
google-cloud-appengine-logging==1.4.5 ; python_version >= "3.11" and python_version < "3.13"
google-cloud-audit-log==0.3.0 ; python_version >= "3.11" and python_version < "3.13"
google-cloud-core==2.4.1 ; python_version >= "3.11" and python_version < "3.13"
google-cloud-logging==3.11.2 ; python_version >= "3.11" and python_version < "3.13"
google-pasta==0.2.0 ; python_version >= "3.11" and python_version < "3.13"
googleapis-common-protos==1.63.2 ; python_version >= "3.11" and python_version < "3.13"
googleapis-common-protos[grpc]==1.63.2 ; python_version >= "3.11" and python_version < "3.13"
grpc-google-iam-v1==0.13.1 ; python_version >= "3.11" and python_version < "3.13"
grpcio-status==1.62.3 ; python_version >= "3.11" and python_version < "3.13"
grpcio==1.64.1 ; python_version >= "3.11" and python_version < "3.13"
h5py==3.11.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.7 ; python_version >= "3.11" and python_version < "3.13"
immutabledict==4.2.0 ; python_version >= "3.11" and python_version < "3.13"
importlib-metadata==8.4.0 ; python_version >= "3.11" and python_version < "3.13"
importlib-resources==6.4.0 ; python_version >= "3.11" and python_version < "3.13"
keras==3.3.3 ; python_version >= "3.11" and python_version < "3.13"
libclang==18.1.1 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
markdown==3.6 ; python_version >= "3.11" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
ml-dtypes==0.3.2 ; python_version >= "3.11" and python_version < "3.13"
namex==0.0.8 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
opentelemetry-api==1.27.0 ; python_version >= "3.11" and python_version < "3.13"
opt-einsum==3.3.0 ; python_version >= "3.11" and python_version < "3.13"
optree==0.11.0 ; python_version >= "3.11" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.11" and python_version < "3.13"
portpicker==1.6.0 ; python_version >= "3.11" and python_version < "3.13"
promise==2.3 ; python_version >= "3.11" and python_version < "3.13"
proto-plus==1.24.0 ; python_version >= "3.11" and python_version < "3.13"
protobuf==4.25.3 ; python_version >= "3.11" and python_version < "3.13"
psutil==6.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyarrow==17.0.0 ; python_version >= "3.11" and python_version < "3.13"
pyasn1-modules==0.4.1 ; python_version >= "3.11" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.11" and python_version < "3.13"
setuptools==70.1.0 ; python_version >= "3.11" and python_version < "3.13"
simple-parsing==0.1.5 ; python_version >= "3.11" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
tensorboard-data-server==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
tensorboard==2.17.0 ; python_version >= "3.11" and python_version < "3.13"
tensorflow-datasets==4.9.6 ; python_version >= "3.11" and python_version < "3.13"
tensorflow-io-gcs-filesystem==0.37.0 ; python_version >= "3.11" and python_version < "3.12"
tensorflow-metadata==1.15.0 ; python_version >= "3.11" and python_version < "3.13"
tensorflow-recommenders==0.7.2 ; python_version >= "3.11" and python_version < "3.13"
tensorflow==2.17.0 ; python_version >= "3.11" and python_version < "3.13"
termcolor==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
tf-keras==2.17.0 ; python_version >= "3.11" and python_version < "3.13"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.13"
tqdm==4.66.4 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "3.13"
werkzeug==3.0.3 ; python_version >= "3.11" and python_version < "3.13"
wheel==0.43.0 ; python_version >= "3.11" and python_version < "3.13"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "3.13"
zipp==3.19.2 ; python_version >= "3.11" and python_version < "3.13"
