black==23.9.1
click==8.1.7
Cython==3.0.2
mypy-extensions==1.0.0
numpy==1.24.2
pandas==2.1.1
pathspec==0.11.2
platformdirs==3.10.0
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.8.8
river==0.15.0
scipy==1.11.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.5.0
